html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p{
  margin: 0;
}

.header {
  margin:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  background-color: #1a1a1a;
  color: whitesmoke;
}

.header h1{
  font-size: 2.5rem;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  justify-content: space-around;
  color: #fff;
  font-size: 1.2rem;
}

nav li:hover {
  color: #cdcdcd;
  transform: scale(1.05);
  text-decoration: underline;
}

.home-container{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: calc(100vh -  100.594px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(./Assets/nc-news-home.jpg);
  background-size: cover;
  background-position: center;
}

.home-container h2{
  display: flex;
  align-items: center;
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #ffffff;
}

.main-container{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  color: #000000;
  margin: 0;
}

.article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  background-color: #333333;
  border-radius: 5px;
  padding:1em 1em;
  margin-bottom: 1.5em;
  min-width: 250px;
  color: whitesmoke;
}

.article h3{
  margin: 0;
  margin-bottom: 1em;
  color: whitesmoke;
  text-decoration: whitesmoke;
}
a:-webkit-any-link {
  text-decoration: none;
}


.article:hover h3{
  text-decoration: underline;
  color: rgb(204, 255, 0);
}

.article p{
  color: #373737;
}

.article:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.article img {
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  /* align-content: center; */
}
 .info p{
  margin-bottom: 1em;
  color: whitesmoke;
 }

.single-article-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0;
  width:100vw;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #000000;
}

.header-2 {
  font-size: 2.5rem;
  text-align: center;
}

.single-article-header img {
  display: none;
}

.sub-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votes-container{
  display: flex;
  height: fit-content;
  padding-right: 2em;
  align-items: center;
}

.votes-container button{
  width: 2rem;
  height: 2rem;
  padding: 1em;
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.votes-container p{
  margin: 0 1em;
}


.single-article-main{
  margin:0 2em;
  font-size: 1.2rem;
  padding: 2.5em;
}

.single-article-main h4{
  color:#979797;
}

.add-comments{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.add-comments input{
  padding: 1em 4em;
  border-radius: 1000vw;
}

.add-comments button{
  border-radius: 50%;
  padding: 1em;
}

.comment-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
  padding: 2em;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

/* loader */

.loader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 768px) {
  .article{
    width: 40%;
  }
}