html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  background-color: wh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.header {
  margin:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  background-color: #1a1a1a;
  color: whitesmoke;
}

.header h1{
  font-size: 2.5rem;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  justify-content: space-around;
  color: #fff;
  font-size: 1.2rem;
}

nav li:hover {
  color: #cdcdcd;
  transform: scale(1.05);
  text-decoration: underline;
}

.main-container{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  color: #000000;
}

.header-2 {
  font-size: 2.5rem;
  text-align: center;
}

.article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  background-color: rgba(140, 140, 140, 0.661);
  border-radius: 10px;
  padding:1.5em 1em;
  margin-bottom: 1.5em;
  min-width: 250px;
}

.article h3{
  margin: 0;
  margin-bottom: 1em;
  color: #000000;
  text-decoration: black;
}
a:-webkit-any-link {
  text-decoration: none;
}


.article:hover h3{
  text-decoration: underline;
  color: rgb(204, 255, 0);
}

.article p{
  color: #373737;
}

.article:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.article img {
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  /* align-content: center; */
}

.single-article-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0;
  width:100vw;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #000000;
}

.single-article-header img {
  display: none;
}


.single-article-main{
  font-size: 1.2rem;
  padding: 2em;
}

.single-article-main h4{
  color:#979797;
}

.comment-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
  padding: 2em;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

/* loader */

.loader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 768px) {
  .article{
    width: 40%;
  }
}